*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

header{
  width:100%;
  height:11vh;
  background-color: rgba(0, 0, 0,255);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.main_title{
  font-size: 70px;
}

.main_subtitle{
  font-size: 40px;
}

.subtitles{
  font-family: Quicksand;
  font-size: 50px;
  color: rgba(29,29,31,255);
}

.main_paragraph{
  color: rgba(29,29,31,255);
  font-size: 23px;
}


/*nav*/
.headerlogo{
  height:150%;
  width:30%;
  padding-bottom:30px;
}

.header_main{
  width:50%;
  height:100%;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.nav_link{
  display:block;
  width:20%;
  height: auto;
  text-decoration:none;
  color: #8c8c8c;
  font-size:20px;
  text-align:center;
  font-family:Quicksand;
}

/*banner*/
#banner{
  display: flex;
  flex-direction: column;
font-family: Quicksand;
  width:100%;
  height:89vh;
  justify-content: center;
  align-items:left;
  padding-left: 5%;
  color:white;
  background-image: url("https://images.pexels.com/photos/1205062/pexels-photo-1205062.jpeg?cs=srgb&dl=pexels-brett-sayles-1205062.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


/*quienes somos*/
#about_us{
display:column;
width: 100%;
height:62vh;
text-align: justify;
background-color: rgba(251,246,252,255);
padding: 8%;

}

#about_us h3{
  text-align:center;
  color: rgba(29,29,31,255);
}

#about_us p{
  text-align:justify;
  color: rgba(29,29,31,255);
  padding-top:4vh;
  justify-content: justify;
  font-family: Quicksand;
  font-weight: 400;

}

/* servicios*/

#services{
  display: inline-block;
  flex-direction: column;
  width: 100%;
  height:65vh;
  justify-content: space-around;
  background-color: rgba(30,26,25,255);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  flex-wrap: wrap;
}

.services_background{
  width:255px;
  height:100%;
  margin: auto;
  padding:inherit;
  float:right;
  background-image: url(https://images.unsplash.com/photo-1541690212779-7a48c04096cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  background-size:cover;
  background-repeat: no-repeat;
}

#services h3{
  padding:5vh;
  color:rgba(251,251,253,255);
}

.service_item{
  display:  inline-table;
  flex-direction:column;
  margin:50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#services i{
  display: block;
  flex-direction: column;
  font-size: 40px;
  color: white;
  align-items: center;
  text-align:center;
}

#services span{
  font-size:20px;
  text-decoration: none;
  color: white;
  font-family: Quicksand;
}

/*galería*/
#gallery{
display: flex;
width:100%;
height:90vh;
background-color:rgba(0, 0, 0,255);
padding: 3%;
flex-wrap: wrap;
color:white;
justify-content: center;
}

#carouselExampleIndicators{
 width:100vh;
 font-size: 25px;
 text-align: center;
 padding-bottom: 30px;
}

#gallery h3{
width:100%;
text-align:center;
color:rgba(251,251,253,255);
}


/*contacto*/
#contact{
  display: inline-flex;
  flex-direction:column;
  width: 100%;
  height:80vh;
  justify-content: center;
  background-color: 	rgb(220,220,220);
  flex-wrap: wrap;
  align-items: center;
  text-align: justify;
}


.contact_item{
  width: 50%;
  margin:40px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.contact_item p{

  font-size:3vh;
  text-decoration: none;
  justify-content: space-between;
  font-family: Quicksand;
  color: black;
}

.contact_item i{
font-size: 4vh;
padding-bottom: 10px;
color: black;
text-align: center;
}

#contact h3{
  width:100%;
  color: rgba(29,29,31,255);
  text-align: center;
  font-size: 5vh;
  margin-top: 2vh;
}

.black_line{
color: black;
}

  /*footer*/
.mainFooter{
  background-color:rgba(13,17,23,255);
  height:10vh;
  text-align:center;
  color:white;
  padding:3vh;
  width:100%;
}

/*media queries*/
@media screen and (min-width:801px) and (max-width:1200px){
#about_us{
  height: 80vh;
 }

.services_background{
  display: none;
 }

 #services{
  display: inline-table;
  text-align: center;
 }

 .service_item{
  margin:20px;
 }
}



@media (max-width:800px){
  .headerlogo{
  width:40%;
 }

 .header_main{
   flex-direction: column;
 }

  #about_us{
   text-align: justify;
   padding:10%;
   height:100vh;
 }

  #services {
   height: 85vh;
}

  #services h3{
   text-align: center;
}

  .services_background{
   display: none;
 }

 .service_item{
   display: flex;
   margin:5px;
   justify-content: center;
   align-items: center;
 }

 #services i{
  font-size: 30px;
  display: grid;
  flex-direction: column;
 }

 .contact_item{
  width:100%
 }
}
