
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

header{
  width:100%;
  height:11vh;
  background-color: rgba(0, 0, 0,255);
  display: flex;
  justify-content: space-around;
}

.main_title{
  font-size: 70px;
}

.main_subtitle{
  font-size: 40px;
}

.subtitles{
  font-family: arial;
  font-size: 50px;
  color: rgba(29,29,31,255);
}

.main_paragraph{
  color: rgba(29,29,31,255);
  font-size: 23px;
}


/*nav*/
.headerlogo{
  height:150%;
  width:30%;
  padding-bottom:30px;
}

.header_main{
  width:50%;
  height:100%;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.nav_link{
  display:block;
  width:20%;
  height: auto;
  text-decoration:none;
  color: #8c8c8c;
  font-size:20px;
  text-align:center;
  font-family: arial;
}

/*banner*/
#banner{
  display: flex;
  flex-direction: column;
font-family: arial;
  width:100%;
  height:89vh;
  justify-content: center;
  align-items:left;
  padding-left: 5%;
  color:white;
  background-image: url("https://images.pexels.com/photos/1205062/pexels-photo-1205062.jpeg?cs=srgb&dl=pexels-brett-sayles-1205062.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


/*quienes somos*/
#about_us{
display:column;
font-family: arial;
width: 100%;
height:90vh;
justify-content:justify;
background-color: rgba(251,246,252,255);
padding: 15%;
}

#about_us h3{
  text-align:center;
  color: rgba(29,29,31,255);
}

#about_us p{
  text-align:left;
  color: rgba(29,29,31,255);
  padding-top:15px;
  justify-content: justify;
}

/*galería*/
#gallery{
display: flex;
width:100%;
height:100vh;
background-color:rgba(0, 0, 0,255);
padding: 5%;
flex-wrap: wrap;
color:white;
justify-content: center;
}

#gallery h3{
width:100%;
text-align:center;
color:rgba(251,251,253,255);
}


/*contacto*/
#contact{
  display:flex;
  flex-direction: row;
  font-family: arial;
  width: 100%;
  height:70vh;
  justify-content:center;
  background-color: 	rgb(220,220,220);
  flex-wrap: wrap;
}

.contact_item{
width:30%;
height:20vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.contact_item p{
  font-size:6vh;
  text-decoration: none;

}

.contact_item i{
font-size: 10vh;
}


#contact h3{
  width:100%;
  color: rgba(29,29,31,255);
  text-align: center;
  margin-top: 10vh;

  /*footer*/
}
.mainFooter{
  background-color:rgba(13,17,23,255);
  height:10vh;
  text-align:center;
  color:white;
  padding:3vh;
}

@media (max-width:700px){
.headerlogo{
width:40%;
}
#about_us{
  text-align: center;
  padding:5%;
}
.contact_item{
  width:100%
}
}
